
/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #1B1D24;
    margin: auto;
    padding: 5px;
    border: 1px solid #959595;
    width: 900px;
    min-height: 280px;
    max-height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 완성 후 삭제 */
/* section{
    border: 1px solid red;
}


.madalGrid{
    border: 1px solid yellow;
}


.contentGrid{
    border: 1px solid blue;
} */
/* 완성 후 삭제 */

.section1{
    width:100%;
    height:100%;
    display: grid;
    gap: 5px;
    grid-template-rows: 30px; /* 2개의 열 설정 */
}



.madalGrid:nth-child(2){
    background-color: #2E313C;
    max-height: 950px;
    min-height: 250px;
    padding-bottom: 40px;
}



.modalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.statsImgBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.icon_statsImg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.modalName{
    font-size: 16px;
    margin-bottom: 5px;
}

.close:hover{
    cursor: pointer;
}

.contentGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentGrid:first-child{
    max-height: 55px;
    display: flex;
    flex-direction: row;
}

.contentGrid:nth-child(2){
    max-height: 896px;
    min-height: 280px;
}


.selectOptionBox{
    display: flex;
    flex-direction: row;
}

.selectOptionBox:first-child{
    width: 426px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.selectOptionBox:nth-child(2){
    width: 352px;
    justify-content: end;
}


.comboBoxContainer{
    width: 180px;
    height: 28px;
    background-color: #1B1D24;
    margin-right: 20px;
}

.selectBox{
    width: 180px;
    height: 28px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #667085;
    appearance: none;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /* for firefox */
    color: white;
    background:url('/resources/img/popup_comboDrop.png') no-repeat 90% 50%/14px auto;
}

.selectBox::-ms-expand{
    display:none;/*for IE10,11*/
}

.selectBox:hover {
    cursor: pointer;
}

.selectBox option{
    background-color: #1B1D24;
}

.selectBox option:hover{
    background-color: #667085;
}

.customBox{
    display: flex;
    flex-direction: row;
}

.selectDate *{
    font-size: 12px;
    align-items: center;
}

.selectDate{
    margin: 0 3px;
}

.selectDate input{
    accent-color: goldenrod;
}






.calenderContainer{
    display: flex !important;
    flex-direction: row;
}


.calender{
    appearance: none;
    background-color: #1B1D24;
    border: 1px solid #667085;
    border-radius: 4px;
    width: 120px;
    height: 28px;
    text-align: center;
}


.calender::-webkit-calendar-picker-indicator {
    /* padding: 10px; */
    background: url(/resources/img/popup_comboDrop.png) no-repeat 90% 50%/12px;
    /* border-radius: 8px; */
    text-align: center;
    margin: 5px;
}


.calender:hover{
    cursor: pointer;
}

#modalDataBtn{
    margin-left: 5px;
}

.contentGrid{
    padding: 5px 30px;
}

.contentGrid:first-child{
    padding-top: 20px;
}


.contentGrid:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 23px; */
    max-height: 950px;
    min-height: 280px;
}

.titleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnBox .btn{
    margin: 0 0 0 5px;
}

.tableTitle{
    font-size: 21px
}

.dataContainer{
    padding-top: 10px;
    padding-bottom: 24px;
    max-height: 806px;
    width: 826px;
    max-height: 806px;
    /* min-height: 250px; */
}

.dataContainer div:nth-child(2){
    width: 100%;
    max-height: 768px; 
    overflow-y: auto;
    margin-bottom: 30px;
}


.dataContainer div:nth-child(2)::-webkit-scrollbar{
    width: 8px;
}

.dataContainer div:nth-child(2)::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}


.dataContainer div:nth-child(2)::-webkit-scrollbar-thumb{
    height: 30%; /* 스크롤바의 길이 */
    background: #1E1E1E; /* 스크롤바의 색상 */
    
    border-radius: 5px;
}

.dataContainer div:nth-child(2)::-webkit-scrollbar-track{
    background: #2E313C;  /*스크롤바 뒷 배경 색상*/
}

.dataTable{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}


.dataTable *{
    font-size: 14px;
}

.dataThead{
    background-color: #1E1E1E;
    height: 36px;
    position : sticky; 
    top: 0;
}

.dataThead{
    border-right: 1px solid #1E1E1E;

}


.dataTbody{
    max-height: 768px;
}


.dataTbody *{
    height: 32px;
    border-bottom: 1px solid #555555;
}

/* 김포 일합계 체크 시작 */
.th1{
    width: 100px;
}
.th2{
    width: 240px;
}
.th3{
    width: 130px;
}
.th4{
    width: 130px;
}
.th5{
    width: 130px;
}
.th6{
    width: 100px;
}


.td_data1{
    width: 100px;
    text-align: center;
}
.td_data2{
    width: 240px;
    text-align: center;
}
.td_data3{
    width: 130px;
    text-align: center;
}
.td_data4{
    width: 130px;
    text-align: center;
}
.td_data5{
    width: 130px;
    text-align: center;
}
.td_data6{
    width: 100px;
    text-align: center;
}
/* 김포 일합계 체크 끝 */






/* 김포 일합계 체크안함 시작 */
.th1{
    width: 50px;
}
.th2{
    width: 120px;
}
.th3{
    width: 120px;
}
.th4{
    width: 120px;
}
.th5{
    width: 120px;
}
.th6{
    width: 100px;
}
.th7{
    width: 90px;
    
}
.th8{
    width: 210px;

}



.td_data1{
    width: 50px;
    text-align: center;
}
.td_data2{
    width: 120px;
    text-align: center;
}
.td_data3{
    width: 120px;
    text-align: center;
}
.td_data4{
    width: 120px;
    text-align: center;
}
.td_data5{
    width: 120px;
    text-align: center;
}
.td_data6{
    width: 100px;
    text-align: center;
}
.td_data7{
    width: 90px;
    text-align: center;
}
.td_data8{
    width: 210px;
    text-align: center;
}
/* 김포 일합계 체크안함 끝 */




/* 풍무고촌 일합계 체크 시작 */
.goPung_th1{
    width: 100px;
}
.goPung_th2{
    width: 235px;
}
.goPung_th3{
    width: 235px;
}
.goPung_th4{
    width: 235px;
}



.goPung_td_data1{
    width: 100px;
    text-align: center;
}
.goPung_td_data2{
    width: 235px;
    text-align: center;
}
.goPung_td_data3{
    width: 235px;
    text-align: center;
}
.goPung_td_data4{
    width: 235px;
    text-align: center;
}

/* 풍무고촌 일합계 체크 끝 */






/* 풍무고촌 일합계 체크안함 시작 */
.goPung_th1{
    width: 100px;
}
.goPung_th2{
    width: 235px;
}
.goPung_th3{
    width: 235px;
}
.goPung_th4{
    width: 235px;
}
.goPung_th5{
    /* width: 120px; */
    width: 355px;
}





.goPung_td_data1{
    width: 100px;
    text-align: center;
}
.goPung_td_data2{
    width: 235px;
    text-align: center;
}
.goPung_td_data3{
    width: 235px;
    text-align: center;
}
.goPung_td_data4{
    width: 235px;
    text-align: center;
}
.goPung_td_data5{
    /* width: 120px; */
    width: 355px;
    text-align: center;
}

/* 풍무고촌 일합계 체크안함 끝 */


/* nodata 시작*/
.noData{
    width: 826px;
    text-align: center;
}
/* nodata 끝*/



.btn{
    width: 80px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    background-color: #202020;
    border: 1px solid #666666;
    border-radius: 4px;
}

.btn:hover{
    background-color: #666666;
}

#searchDataBtn{
    margin-left: 10px;
}




/* 프로그래스 바 스타일 */
.progressBar {
    width: 50%;
    height:  30%;
    background-color: #202020;
    border-radius: 5px;
    margin: 20px 0;
}

.progress {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}