<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<resultMap type="fodics.jsy.dashboard.main.model.dto.Main" id="_main">
      	<result property="occuTime" column="occu_time" />
      	<result property="roleCode" column="role_code" />
      	<result property="eventType" column="event_type" />
      	<result property="eventStatus" column="event_status" />
      	<result property="gimpoInRushHour" column="GIMPO_IN_RUSH_HOUR" />
      	<result property="gimpoOutRushHour" column="GIMPO_OUT_RUSH_HOUR" />
      	<result property="gochonRushHour" column="GOCHON_RUSH_HOUR" />
      	<result property="pungmuRushHour" column="PUNGMU_RUSH_HOUR" />
      	<result property="gimpoInCount" column="GIMPO_IN_COUNT" />
      	<result property="gimpoOutCount" column="GIMPO_OUT_COUNT" />
      	<result property="gochonCount" column="GOCHON_COUNT" />
      	<result property="gochon1_Count" column="GOCHON1_COUNT" />
      	<result property="gochon2_Count" column="GOCHON2_COUNT" />
      	<result property="pungmuCount" column="PUNGMU_COUNT" />
      	<result property="hour" column="HOUR" />
      	<result property="gimpoInChange" column="GIMPO_IN_CHANGE" />
      	<result property="gimpoOutChange" column="GIMPO_OUT_CHANGE" />
      	<result property="gochonChange" column="GOCHON_CHANGE" />
      	<result property="pungmuChange" column="PUNGMU_CHANGE" />
      	<result property="gimpoInChangeCount" column="GIMPO_IN_CHANGE_COUNT" />
      	<result property="gimpoOutChangeCount" column="GIMPO_OUT_CHANGE_COUNT" />
      	<result property="gochonChangeCount" column="GOCHON_CHANGE_COUNT" />
      	<result property="gochon1_ChangeCount" column="GOCHON1_CHANGE_COUNT" />
      	<result property="gochon2_ChangeCount" column="GOCHON2_CHANGE_COUNT" />
      	<result property="pungmuChangeCount" column="PUNGMU_CHANGE_COUNT" />
      	
	</resultMap> 
  
  <resultMap id="_int" type="java.lang.Integer"/>
  
  
	<!-- 김포공항 & 풍무역 & 고산역 출근대 승하차 수 -->
	<select id="rushHourCountList" resultMap="_main">
		SELECT
		    SUBSTRING(H.OCCU_TIME, 9, 2) AS HOUR,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_IN_RUSH_HOUR,
		    COUNT(CASE WHEN H.event_status = '-1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_OUT_RUSH_HOUR,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000284', 'DL20231125_000285', 'DL20231125_000286', 'DL20231125_000287', 'DL20231204_000304') THEN 1 END) AS GOCHON_RUSH_HOUR,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000289', 'DL20231125_000290', 'DL20231125_000291', 'DL20231125_000292', 'DL20231206_000305') THEN 1 END) AS PUNGMU_RUSH_HOUR
		FROM
		    TB_EVENT_HIST_DL H
		JOIN
		    TB_EVENT_ROLE_DL R ON H.role_code = R.role_code
		WHERE
		    SUBSTRING(H.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		    AND SUBSTRING(H.OCCU_TIME, 9, 2) IN (7, 8, 9)
		GROUP BY
		    SUBSTRING(H.OCCU_TIME, 9, 2)
	</select>

	
	
	<!-- 출근대 김포공항역, 고촌역, 풍무역 승하차 누적 수 -->
	  <select id="rushHourTotalCount" resultMap="_main">
	  	SELECT
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_IN_COUNT,
		    COUNT(CASE WHEN H.event_status = '-1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_OUT_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000284', 'DL20231125_000285', 'DL20231125_000286', 'DL20231125_000287', 'DL20231204_000304') THEN 1 END) AS GOCHON_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000288') THEN 1 END) AS GOCHON1_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000293') THEN 1 END) AS GOCHON2_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000289', 'DL20231125_000290', 'DL20231125_000291', 'DL20231125_000292', 'DL20231206_000305') THEN 1 END) AS PUNGMU_COUNT
		FROM
		    TB_EVENT_HIST_DL H
		JOIN
		    TB_EVENT_ROLE_DL R ON H.role_code = R.role_code
		WHERE
		    SUBSTRING(H.OCCU_TIME, 1, 8) = CONVERT(varchar, GETDATE(), 112)
		AND (SUBSTRING(OCCU_TIME, 9, 2) = 7 OR SUBSTRING(OCCU_TIME, 9, 2) = 8 OR SUBSTRING(OCCU_TIME, 9, 2) = 9)
	  </select>
  
  
  
	  <!-- 김포공항 & 풍무역 & 고산역 7~9시 승하차 수(날짜변경 시) -->
	<select id="rushHourDateChangeList" resultMap="_main">
	    SELECT
	        SUBSTRING(H.OCCU_TIME, 9, 2) AS HOUR,
	        COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_IN_CHANGE,
	        COUNT(CASE WHEN H.event_status = '-1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_OUT_CHANGE,
	        COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000284', 'DL20231125_000285', 'DL20231125_000286', 'DL20231125_000287', 'DL20231204_000304') THEN 1 END) AS GOCHON_CHANGE,
	        COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000289', 'DL20231125_000290', 'DL20231125_000291', 'DL20231125_000292', 'DL20231206_000305') THEN 1 END) AS PUNGMU_CHANGE
	    FROM
	        TB_EVENT_HIST_DL H
	    JOIN
	        TB_EVENT_ROLE_DL R ON H.role_code = R.role_code
	    WHERE
	        SUBSTRING(H.OCCU_TIME, 1, 8) = #{occuDate}
	        AND SUBSTRING(H.OCCU_TIME, 9, 2) IN (7, 8, 9)
	    GROUP BY
	        SUBSTRING(H.OCCU_TIME, 9, 2)
	</select>
  
  <!-- 출근대 김포공항역, 고촌역, 풍무역 승하차 누적 수(날짜변경 시) -->
	  <select id="rushHourChangeTotalCount" resultMap="_main">
	  	SELECT
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_IN_CHANGE_COUNT,
		    COUNT(CASE WHEN H.event_status = '-1' AND H.role_code IN ('DL20231125_000280', 'DL20231125_000281', 'DL20231125_000282', 'DL20231204_000303') THEN 1 END) AS GIMPO_OUT_CHANGE_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000284', 'DL20231125_000285', 'DL20231125_000286', 'DL20231125_000287', 'DL20231204_000304') THEN 1 END) AS GOCHON_CHANGE_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000288') THEN 1 END) AS GOCHON1_CHANGE_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000293') THEN 1 END) AS GOCHON2_CHANGE_COUNT,
		    COUNT(CASE WHEN H.event_status = '1' AND H.role_code IN ('DL20231125_000289', 'DL20231125_000290', 'DL20231125_000291', 'DL20231125_000292', 'DL20231206_000305') THEN 1 END) AS PUNGMU_CHANGE_COUNT
		FROM
		    TB_EVENT_HIST_DL H
		JOIN
		    TB_EVENT_ROLE_DL R ON H.role_code = R.role_code
		WHERE
		    SUBSTRING(H.OCCU_TIME, 1, 8) = #{occuDate}
		AND (SUBSTRING(OCCU_TIME, 9, 2) = 7 OR SUBSTRING(OCCU_TIME, 9, 2) = 8 OR SUBSTRING(OCCU_TIME, 9, 2) = 9)
	  </select>
  
  
  

</mapper>