<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="normalMapper">


	<resultMap type="Data" id="_main">
      	<result property="occuTime" column="occu_time" />
      	<result property="roleCode" column="role_code" />
      	<result property="eventType" column="event_type" />
      	<result property="eventStatus" column="event_status" />
      	<result property="occuHour" column="OCCU_HOUR" />
      	<result property="gimpoIn24" column="GIMPO_IN_24" />
      	<result property="gimpoOut24" column="GIMPO_OUT_24" />
      	<result property="gochon24" column="GOCHON24" />
      	<result property="pungmu24" column="PUNGMU24" />
      	<result property="gimpoIn24Count" column="GIMPO_IN_24COUNT" />
      	<result property="gimpoOut24Count" column="GIMPO_OUT_24COUNT" />
      	<result property="gochon24Count" column="GOCHON24COUNT" />
      	<result property="gochon1_24Count" column="GOCHON1_24COUNT" />
      	<result property="gochon2_24Count" column="GOCHON2_24COUNT" />
      	<result property="pungmu24Count" column="PUNGMU24COUNT" />
      	<result property="gimpoIn24Change" column="GIMPO_IN_24CHANGE" />
      	<result property="gimpoOut24Change" column="GIMPO_OUT_24CHANGE" />
      	<result property="gochon24Change" column="GOCHON24CHANGE" />
      	<result property="pungmu24Change" column="PUNGMU24CHANGE" />
      	<result property="gimpoIn24ChangeCount" column="GIMPO_IN_24_CHANGE_COUNT" />
      	<result property="gimpoOut24ChangeCount" column="GIMPO_OUT_24_CHANGE_COUNT" />
      	<result property="gochon24ChangeCount" column="GOCHON24_CHANGE_COUNT" />
      	<result property="gochon1_24ChangeCount" column="GOCHON1_24_CHANGE_COUNT" />
      	<result property="gochon2_24ChangeCount" column="GOCHON2_24_CHANGE_COUNT" />
      	<result property="pungmu24ChangeCount" column="PUNGMU24_CHANGE_COUNT" />
      	<result property="objectClass" column="object_class" />
	</resultMap> 
  
  <resultMap id="_int" type="java.lang.Integer"/>
  
  
  
  <!-- 24시간 김포공항역, 고촌역, 풍무역 승하차 수 -->
  <select id="normal24CountList" resultMap="_main">
SELECT
DATA_1.HOUR
, SUM(GIMPO_IN_RUSH_HOUR) AS GIMPO_IN_24
, SUM(GOCHON_RUSH_HOUR) AS GOCHON24
, SUM(PUNGMU_RUSH_HOUR) AS PUNGMU24
FROM
(SELECT '00' AS HOUR, 0 AS GIMPO_IN_RUSH_HOUR, 0 AS GOCHON_RUSH_HOUR, 0 AS PUNGMU_RUSH_HOUR	UNION ALL
SELECT '01', 0, 0, 0	UNION ALL
SELECT '02', 0, 0, 0	UNION ALL
SELECT '03', 0, 0, 0	UNION ALL
SELECT '04', 0, 0, 0	UNION ALL
SELECT '05', 0, 0, 0	UNION ALL
SELECT '06', 0, 0, 0	UNION ALL
SELECT '07', 0, 0, 0	UNION ALL
SELECT '08', 0, 0, 0	UNION ALL
SELECT '09', 0, 0, 0	UNION ALL
SELECT '10', 0, 0, 0	UNION ALL
SELECT '11', 0, 0, 0	UNION ALL
SELECT '12', 0, 0, 0	UNION ALL
SELECT '13', 0, 0, 0	UNION ALL
SELECT '14', 0, 0, 0	UNION ALL
SELECT '15', 0, 0, 0	UNION ALL
SELECT '16', 0, 0, 0	UNION ALL
SELECT '17', 0, 0, 0	UNION ALL
SELECT '18', 0, 0, 0	UNION ALL
SELECT '19', 0, 0, 0	UNION ALL
SELECT '20', 0, 0, 0	UNION ALL
SELECT '21', 0, 0, 0	UNION ALL
SELECT '22', 0, 0, 0	UNION ALL
SELECT '23', 0, 0, 0	UNION ALL
SELECT
LAST.HOUR
, SUM(LAST.GIMPO_IN_RUSH_HOUR)	AS GIMPO_IN_RUSH_HOUR
, SUM(LAST.GOCHON_RUSH_HOUR)		AS GOCHON_RUSH_HOUR
, SUM(LAST.PUNGMU_RUSH_HOUR)		AS PUNGMU_RUSH_HOUR
FROM
(
	SELECT
	STAT.hour	AS HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS GIMPO_IN_RUSH_HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS GOCHON_RUSH_HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS PUNGMU_RUSH_HOUR
	FROM 
	(
		SELECT
		DATA.HOUR				AS hour
		, R.role_name			AS role_name
		, DATA.EVENT_STATUS	AS event_status
		, DATA.DATA_CNT		AS data_cnt
		FROM
		(
			SELECT
			SUBSTRING(occu_time, 9, 2)		AS HOUR
			, role_code							AS ROLE_CODE
			, event_status						AS EVENT_STATUS
			, SUM(event_cnt)				AS DATA_CNT
			FROM TB_CROWD_DASHBOARD_SUMMARY H
			WHERE SUBSTRING(occu_time, 1, 8) = CONVERT(varchar, GETDATE(), 112)
			GROUP BY SUBSTRING(occu_time, 9, 2)
			, role_code
			, event_status
		) DATA
		LEFT OUTER JOIN TB_EVENT_ROLE_DL R ON DATA.ROLE_CODE = r.role_code
		WHERE R.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근', '고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근', '풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
	) STAT
	GROUP BY STAT.hour
	, STAT.role_name
	, STAT.event_status
) LAST
GROUP BY LAST.HOUR) DATA_1
GROUP BY DATA_1.HOUR
  </select>
  
  
  
  
  <!-- 24시간 김포공항역, 고촌역, 풍무역 승하차 누적 수 -->
  <select id="total24Count" resultMap="_main">
	SELECT
		SUM(LAST.GIMPO_IN_24COUNT)			AS GIMPO_IN_24COUNT
		, SUM(LAST.GIMPO_OUT_24COUNT)		AS GIMPO_OUT_24COUNT
		, SUM(LAST.GOCHON24COUNT)			AS GOCHON24COUNT
		, SUM(LAST.GOCHON1_24COUNT)		AS GOCHON1_24COUNT
		, SUM(LAST.GOCHON2_24COUNT)		AS GOCHON2_24COUNT
		, SUM(LAST.PUNGMU24COUNT)			AS PUNGMU24COUNT
		FROM
		(
			SELECT
			STAT.hour	AS HOUR
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
			 THEN SUM(STAT.data_cnt) END AS GIMPO_IN_24COUNT
			, CASE WHEN STAT.event_status = '-1'
			 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
			 THEN SUM(STAT.data_cnt) END AS GIMPO_OUT_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근')
			 THEN SUM(STAT.data_cnt) END AS GOCHON24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-역사입구1')
			 THEN SUM(STAT.data_cnt) END AS GOCHON1_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-역사입구2')
			 THEN SUM(STAT.data_cnt) END AS GOCHON2_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
			 THEN SUM(STAT.data_cnt) END AS PUNGMU24COUNT
			FROM 
			(
				SELECT
				DATA.HOUR				AS hour
				, R.role_name			AS role_name
				, DATA.EVENT_STATUS	AS event_status
				, DATA.DATA_CNT		AS data_cnt
				FROM
				(
					SELECT
					SUBSTRING(occu_time, 9, 2)		AS HOUR
					, role_code							AS ROLE_CODE
					, event_status						AS EVENT_STATUS
					, SUM(event_cnt)				AS DATA_CNT
					FROM TB_CROWD_DASHBOARD_SUMMARY H
					WHERE SUBSTRING(occu_time, 1, 8) = CONVERT(varchar, GETDATE(), 112)
					GROUP BY SUBSTRING(occu_time, 9, 2)
					, role_code
					, event_status
				) DATA
				LEFT OUTER JOIN TB_EVENT_ROLE_DL R ON DATA.ROLE_CODE = r.role_code
			) STAT
			GROUP BY STAT.hour
			, STAT.role_name
			, STAT.event_status
		) LAST
  </select>
  
  
  
    <!-- 24시간 김포공항역, 고촌역, 풍무역 승하차 수(날짜변경 시) -->
  <select id="normalDateChangeList" resultMap="_main">
  SELECT
DATA_1.HOUR
, SUM(GIMPO_IN_RUSH_HOUR) AS GIMPO_IN_24CHANGE
, SUM(GOCHON_RUSH_HOUR) AS GOCHON24CHANGE
, SUM(PUNGMU_RUSH_HOUR) AS PUNGMU24CHANGE
FROM
(SELECT '00' AS HOUR, 0 AS GIMPO_IN_RUSH_HOUR, 0 AS GOCHON_RUSH_HOUR, 0 AS PUNGMU_RUSH_HOUR	UNION ALL
SELECT '01', 0, 0, 0	UNION ALL
SELECT '02', 0, 0, 0	UNION ALL
SELECT '03', 0, 0, 0	UNION ALL
SELECT '04', 0, 0, 0	UNION ALL
SELECT '05', 0, 0, 0	UNION ALL
SELECT '06', 0, 0, 0	UNION ALL
SELECT '07', 0, 0, 0	UNION ALL
SELECT '08', 0, 0, 0	UNION ALL
SELECT '09', 0, 0, 0	UNION ALL
SELECT '10', 0, 0, 0	UNION ALL
SELECT '11', 0, 0, 0	UNION ALL
SELECT '12', 0, 0, 0	UNION ALL
SELECT '13', 0, 0, 0	UNION ALL
SELECT '14', 0, 0, 0	UNION ALL
SELECT '15', 0, 0, 0	UNION ALL
SELECT '16', 0, 0, 0	UNION ALL
SELECT '17', 0, 0, 0	UNION ALL
SELECT '18', 0, 0, 0	UNION ALL
SELECT '19', 0, 0, 0	UNION ALL
SELECT '20', 0, 0, 0	UNION ALL
SELECT '21', 0, 0, 0	UNION ALL
SELECT '22', 0, 0, 0	UNION ALL
SELECT '23', 0, 0, 0	UNION ALL
SELECT
LAST.HOUR
, SUM(LAST.GIMPO_IN_RUSH_HOUR)	AS GIMPO_IN_RUSH_HOUR
, SUM(LAST.GOCHON_RUSH_HOUR)		AS GOCHON_RUSH_HOUR
, SUM(LAST.PUNGMU_RUSH_HOUR)		AS PUNGMU_RUSH_HOUR
FROM
(
	SELECT
	STAT.hour	AS HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS GIMPO_IN_RUSH_HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS GOCHON_RUSH_HOUR
	, CASE WHEN STAT.event_status = '1'
	 AND STAT.role_name IN ('풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
	 THEN SUM(STAT.data_cnt) END
	 AS PUNGMU_RUSH_HOUR
	FROM 
	(
		SELECT
		DATA.HOUR				AS hour
		, R.role_name			AS role_name
		, DATA.EVENT_STATUS	AS event_status
		, DATA.DATA_CNT		AS data_cnt
		FROM
		(
			SELECT
			SUBSTRING(occu_time, 9, 2)		AS HOUR
			, role_code							AS ROLE_CODE
			, event_status						AS EVENT_STATUS
			, SUM(event_cnt)				AS DATA_CNT
			FROM TB_CROWD_DASHBOARD_SUMMARY H
			WHERE SUBSTRING(occu_time, 1, 8) =  #{occuDate}
			GROUP BY SUBSTRING(occu_time, 9, 2)
			, role_code
			, event_status
		) DATA
		LEFT OUTER JOIN TB_EVENT_ROLE_DL R ON DATA.ROLE_CODE = r.role_code
		WHERE R.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근', '고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근', '풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
	) STAT
	GROUP BY STAT.hour
	, STAT.role_name
	, STAT.event_status
) LAST
GROUP BY LAST.HOUR) DATA_1
GROUP BY DATA_1.HOUR
  </select>
  
  
  
  <!-- 24시간 김포공항역, 고촌역, 풍무역 누적 수(날짜변경 시) -->
  <select id="normalDateChangeCount" resultMap="_main">
	SELECT
		SUM(LAST.GIMPO_IN_24COUNT)			AS GIMPO_IN_24_CHANGE_COUNT
		, SUM(LAST.GIMPO_OUT_24COUNT)		AS GIMPO_OUT_24_CHANGE_COUNT
		, SUM(LAST.GOCHON24COUNT)			AS GOCHON24_CHANGE_COUNT
		, SUM(LAST.GOCHON1_24COUNT)		AS GOCHON1_24_CHANGE_COUNT
		, SUM(LAST.GOCHON2_24COUNT)		AS GOCHON2_24_CHANGE_COUNT
		, SUM(LAST.PUNGMU24COUNT)			AS PUNGMU24_CHANGE_COUNT
		FROM
		(
			SELECT
			STAT.hour	AS HOUR
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
			 THEN SUM(STAT.data_cnt) END AS GIMPO_IN_24COUNT
			, CASE WHEN STAT.event_status = '-1'
			 AND STAT.role_name IN ('김포-EC-출근', '김포-ST-출근', '김포-EV-출근')
			 THEN SUM(STAT.data_cnt) END AS GIMPO_OUT_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-플랫폼1-출근', '고촌-플랫폼2-출근', '고촌-플랫폼3-출근', '고촌-플랫폼4-출근')
			 THEN SUM(STAT.data_cnt) END AS GOCHON24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-역사입구1')
			 THEN SUM(STAT.data_cnt) END AS GOCHON1_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('고촌-역사입구2')
			 THEN SUM(STAT.data_cnt) END AS GOCHON2_24COUNT
			, CASE WHEN STAT.event_status = '1'
			 AND STAT.role_name IN ('풍무-플랫폼1-출근', '풍무-플랫폼2-출근', '풍무-플랫폼3-출근', '풍무-플랫폼4-출근')
			 THEN SUM(STAT.data_cnt) END AS PUNGMU24COUNT
			FROM 
			(
				SELECT
				DATA.HOUR				AS hour
				, R.role_name			AS role_name
				, DATA.EVENT_STATUS	AS event_status
				, DATA.DATA_CNT		AS data_cnt
				FROM
				(
					SELECT
					SUBSTRING(occu_time, 9, 2)		AS HOUR
					, role_code							AS ROLE_CODE
					, event_status						AS EVENT_STATUS
					, SUM(event_cnt)				AS DATA_CNT
					FROM TB_CROWD_DASHBOARD_SUMMARY H
					WHERE SUBSTRING(occu_time, 1, 8) = #{occuDate}
					GROUP BY SUBSTRING(occu_time, 9, 2)
					, role_code
					, event_status
				) DATA
				LEFT OUTER JOIN TB_EVENT_ROLE_DL R ON DATA.ROLE_CODE = r.role_code
			) STAT	
			GROUP BY STAT.hour
			, STAT.role_name
			, STAT.event_status
		) LAST
  </select>
  
  
  


</mapper>